<!DOCTYPE html>
<html lang="en">

<body>

    <div class="search">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <p class="shop-name">shoplux</p>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="item-search" value="" placeholder="Tìm kiếm sản phẩm mong muốn...">
                        <button name="submit" value="submit" id="submit-search">
                            <div class="icon fa fa-search">
                            </div>
                        </button>
                    </div>
                </div>
            
                
                
            </form>
        </div>
    </div>
    <div class="category">
        <div class="container">
            <ul>
                <li class="active">Điện tử</li>
                <li>Thời trang</li>
                <li>Đồng hồ, Túi xách & phụ kiện </li>
                <li>Nhà cửa & đời sống</li>
                <li>Trẻ em và đồ chơi</li>
                <li>Thể thao & du lịch</li>
            </ul>
        </div>
    </div>
    <div class="showFilter">
        <div class="icon"><img src="images/arrow.png" style="width: 100%;"></div>
    </div>
    <div class="filter">
        <h2>Lọc theo</h2>
        <ul>
            <li>Giá</li>
                <div class="price">
                    <input checked="checked" type="radio" name="rdoPrice" id="rdoMinToMax"> Từ cao đến thấp <br> 
                    <input type="radio" name="rdoPrice" id="rdoMinToMax"> Từ thấp đến cao<br>
                </div>
            <li>Đánh giá</li>
                <div class="star">
                    <input checked="checked" type="radio" name="rdoStar" id="rdoStar"> 5 sao <br> 
                    <input type="radio" name="rdoStar" id="rdoStar"> 4 sao<br>
                    <input type="radio" name="rdoStar" id="rdoStar"> 3 sao<br> 
                    <input type="radio" name="rdoStar" id="rdoStar"> 2 sao<br>
                    <input type="radio" name="rdoStar" id="rdoStar"> 1 sao<br> 
                    <input type="radio" name="rdoStar" id="rdoStar"> 0 sao<br>
                </div>
            <li>Bán chạy</li>
            <li>Thương hiệu</li>
            <div class="trademark">
                    <input type="checkbox" name="cbxTradeMark" id="cbxSamSung"> Samsung <br>
                    <input type="checkbox" name="cbxTradeMark" id="cbxSamSung"> Nokia <br>
                    <input type="checkbox" name="cbxTradeMark" id="cbxSamSung"> LG <br>
                    <input type="checkbox" name="cbxTradeMark" id="cbxSamSung"> Apple <br>
                    <input type="checkbox" name="cbxTradeMark" id="cbxSamSung"> Sony <br>
                    <input type="checkbox" name="cbxTradeMark" id="cbxSamSung"> Oppo <br>
            </div>
                
            <li>Khuyến mãi</li>
        </ul>
    </div>
    <div class="product">
        <div class="container">
            <div class="product-tag">
                <img src="images/mh-1.jpg">
                <div class="bg">

                </div>
                <div class="product-content">
                    
                    <p class="name">
                            <a href="product-detail.html">Vivo Y53</a>
                    </p>
                    <p class="description">
                         <a href="product-detail.html">
                            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
                        </a>  </p>
                    <div class="emoticon">
                        <div class="love fa fa-heart-o"></div>
                        <div class="link fa fa-link"></div>
                        <div class="share fa fa-share"></div>
                    </div>
                </div>
            </div>
            <div class="product-tag">
                <img src="images/mh-5.jpg">
                <div class="bg">
                </div>
                <div class="product-content">
                    <p class="name">
                        <a href="product-detail.html">Vivo Y53</a>
                    </p>
                    <p class="description">
                        <a href="product-detail.html">
                            • Màn hình: 5", IPS LCD, (1280 x 720 pixels)<br>
                            • CPU: Qualcomm Snapdragon 425 MSM8917, Quad core, 1.4 GHz, Cortex A53 <br>
                            • RAM/ROM: 2 GB/16 GB<br>
                            • Camera: 8 MP/5 MP<br>
                            • Pin: Li-Po 2500 mAh<br>
                            • 4G: 4G LTE
                        </a>  
                    </p>
                    <div class="emoticon">
                        <div class="love fa fa-heart-o"></div>
                        <div class="link fa fa-link"></div>
                        <div class="share fa fa-share"></div>
                    </div>
                </div>
            </div>
            <div class="product-tag">
                <img src="images/mh-4.jpg">
                <div class="bg">
                </div>
                <div class="product-content">
                    <p class="name">
                            <a href="product-detail.html">Vivo Y53</a>
                    </p>
                    <p class="description">
                        <a href="product-detail.html">
                            • Màn hình: 5", IPS LCD, (1280 x 720 pixels)<br>
                            • CPU: Qualcomm Snapdragon 425 MSM8917, Quad core, 1.4 GHz, Cortex A53 <br>
                            • RAM/ROM: 2 GB/16 GB<br>
                            • Camera: 8 MP/5 MP<br>
                            • Pin: Li-Po 2500 mAh<br>
                            • 4G: 4G LTE
                        </a>    
                    </p>
                    <div class="emoticon">
                        <div class="love fa fa-heart-o"></div>
                        <div class="link fa fa-link"></div>
                        <div class="share fa fa-share"></div>
                    </div>
                </div>
            </div>
            <div class="product-tag">
                <img src="images/mh-3.jpg">
                <div class="bg">
                </div>
                <div class="product-content">
                    <p class="name">
                            <a href="product-detail.html">Vivo Y53</a>
                    </p>
                    <p class="description">
                        <a href="product-detail.html">
                            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
                        </a> 
                    </p>
                    <div class="emoticon">
                        <div class="love fa fa-heart-o"></div>
                        <div class="link fa fa-link"></div>
                        <div class="share fa fa-share"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>